<section id="promo__page" class="promo__faq">
    <div class="container">
        <h1>FAQ & comparison</h1>
    </div>
</section>

<section id="breadcrumbs">
    <div class="container">
        <div class="flex">
            <a href="/">Home</a>
            <span class="sep"></span>
            <span>FAQ</span>
        </div>
    </div>
</section>

<section id="faq">
    <div class="container">
        <div class="advantages">
            <table>
                <thead>
                    <tr>
                        <th><img src="{{ 'logo.svg' | asset_url}}" alt="logo"></th>
                        <th>Our Products</th>
                        <th>Competitor</th>
                        <th>Competitor</th>
                        <th>Competitor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Feature 1</td>
                        <td><div class="check"></div></td>
                        <td><div class="check"></div></td>
                        <td><div class="check"></div></td>
                        <td><div class="check no"></div></td>
                    </tr>
                    <tr>
                        <td>Feature 2</td>
                        <td><div class="check"></div></td>
                        <td><div class="check"></div></td>
                        <td><div class="check"></div></td>
                        <td><div class="check"></div></td>
                    </tr>
                    <tr>
                        <td>Feature 3</td>
                        <td><div class="check"></div></td>
                        <td><div class="check"></div></td>
                        <td><div class="check no"></div></td>
                        <td><div class="check"></div></td>
                    </tr>
                    <tr>
                        <td>Feature 4</td>
                        <td><div class="check"></div></td>
                        <td><div class="check no"></div></td>
                        <td><div class="check no"></div></td>
                        <td><div class="check"></div></td>
                    </tr>
                    <tr>
                        <td>Feature 5</td>
                        <td><div class="check"></div></td>
                        <td><div class="check no"></div></td>
                        <td><div class="check no"></div></td>
                        <td><div class="check"></div></td>
                    </tr>
                    <tr>
                        <td>Feature 6</td>
                        <td><div class="check"></div></td>
                        <td><div class="check"></div></td>
                        <td><div class="check"></div></td>
                        <td><div class="check no"></div></td>
                    </tr>
                    <tr>
                        <td>Feature 7</td>
                        <td><div class="check"></div></td>
                        <td><div class="check"></div></td>
                        <td><div class="check"></div></td>
                        <td><div class="check no"></div></td>
                    </tr>
                    <tr>
                        <td>Customer Satisfaction</td>
                        <td class="rat">
                            <div class="rating r5">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </td>
                        <td class="rat">
                            <div class="rating r3">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </td>
                        <td class="rat">
                            <div class="rating r2">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </td>
                        <td class="rat">
                            <div class="rating r3">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="list__faq">
            <div class="bt">Frequently Asked Questions</div>
            <div class="list">
                <div class="item">
                    <div class="title">Lorem ipsum dolor sit amet consectetur adipiscing elit?</div>
                    <div class="answer">
                        <p>Sed a tortor aliquam, fringilla nisl at, feugiat felis. Sed tempus vitae elit nec porttitor. Donec porttitor non tellus vel mollis. Donec ullamcorper viverra ante non mollis. Integer pulvinar id mi non maximus. Nam iaculis augue ac nunc efficitur feugiat. </p>
                    </div>
                </div>
                <div class="item">
                    <div class="title">Interdum et malesuada fames ac ante ipsum primis in faucibus?</div>
                    <div class="answer">
                        <p>Sed a tortor aliquam, fringilla nisl at, feugiat felis. Sed tempus vitae elit nec porttitor. Donec porttitor non tellus vel mollis. Donec ullamcorper viverra ante non mollis. Integer pulvinar id mi non maximus. Nam iaculis augue ac nunc efficitur feugiat. </p>
                    </div>
                </div>
                <div class="item">
                    <div class="title">Donec interdum erat in libero efficitur?</div>
                    <div class="answer">
                        <p>Sed a tortor aliquam, fringilla nisl at, feugiat felis. Sed tempus vitae elit nec porttitor. Donec porttitor non tellus vel mollis. Donec ullamcorper viverra ante non mollis. Integer pulvinar id mi non maximus. Nam iaculis augue ac nunc efficitur feugiat. </p>
                    </div>
                </div>
                <div class="item">
                    <div class="title">Sed condimentum tellus quis tincidunt commodo?</div>
                    <div class="answer">
                        <p>Sed a tortor aliquam, fringilla nisl at, feugiat felis. Sed tempus vitae elit nec porttitor. Donec porttitor non tellus vel mollis. Donec ullamcorper viverra ante non mollis. Integer pulvinar id mi non maximus. Nam iaculis augue ac nunc efficitur feugiat. </p>
                    </div>
                </div>
                <div class="item">
                    <div class="title">Morbi hendrerit nunc ac auctor dapibus nunc bibendum?</div>
                    <div class="answer">
                        <p>Sed a tortor aliquam, fringilla nisl at, feugiat felis. Sed tempus vitae elit nec porttitor. Donec porttitor non tellus vel mollis. Donec ullamcorper viverra ante non mollis. Integer pulvinar id mi non maximus. Nam iaculis augue ac nunc efficitur feugiat. </p>
                    </div>
                </div>
                <div class="item">
                    <div class="title">Praesent efficitur justo vel pharetra euismod nullam? </div>
                    <div class="answer">
                        <p>Sed a tortor aliquam, fringilla nisl at, feugiat felis. Sed tempus vitae elit nec porttitor. Donec porttitor non tellus vel mollis. Donec ullamcorper viverra ante non mollis. Integer pulvinar id mi non maximus. Nam iaculis augue ac nunc efficitur feugiat. </p>
                    </div>
                </div>
                <div class="item">
                    <div class="title">Donec scelerisque in nibh in posuere proin at rhoncus ante?</div>
                    <div class="answer">
                        <p>Sed a tortor aliquam, fringilla nisl at, feugiat felis. Sed tempus vitae elit nec porttitor. Donec porttitor non tellus vel mollis. Donec ullamcorper viverra ante non mollis. Integer pulvinar id mi non maximus. Nam iaculis augue ac nunc efficitur feugiat. </p>
                    </div>
                </div>
                <div class="item">
                    <div class="title">Donec eleifend auctor risus ut dignissim?</div>
                    <div class="answer">
                        <p>Sed a tortor aliquam, fringilla nisl at, feugiat felis. Sed tempus vitae elit nec porttitor. Donec porttitor non tellus vel mollis. Donec ullamcorper viverra ante non mollis. Integer pulvinar id mi non maximus. Nam iaculis augue ac nunc efficitur feugiat. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="free__help">
    <div class="container">
        <div class="bt">Need Help Choosing An Artificial Grass Solution?</div>
        <div class="bt__note">The experts at El Paso Artificial Grass & Turf can help you find the ideal artificial grass solution for your project. With years of experience and a deep understanding of landscaping needs, our knowledgeable team will guide you through every step of the process, ensuring your project exceeds expectations.</div>
        <a href="#get-free-quote" class="btn btn-orange open__modal">Get a Free Quote</a>
        <div class="note">or call us at (915) 201-4217 for a free quote  </div>
        <div class="image"><img src="{{ 'free_help.png' | asset_url}}" alt="title"></div>
    </div>
</section>